# Carpetas Gigantes (¡Crucial para ahorrar tokens!)
node_modules/
.next/
dist/
build/
.vercel/

# Archivos de configuración locales y contraseñas
.env
.env.local
.env.*.local
*.local

# Logs y Errores
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr

# Archivos del sistema y del editor (Mac / VS Code)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?